html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  background: url("../images/secondary-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  mix-blend-mode: overlay;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.full-screen-page {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

/* common styled */

.section-header {
  width: 100%;
  color: #ffffff;
  padding-top: 30px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.yellow {
  color: #f6cd01;
}

.btn-xs {
  position: absolute;
  bottom: 20px;
  padding: 5px 10px;
  border-radius: 1rem;
  font-size: 15px;
  opacity: 0.6;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.btn-xs:hover {
  opacity: 1;
  color: #ffffff;
}
.header-scroll-btn {
  background-color: rgba(0, 0, 0, 0.2);
}
.scroll-btn {
  background-color: rgba(0, 0, 0, 0.2);
  right: 50px;
}
.view-more {
  text-align: center;
  width: 150px;
}
@media (max-width: 600px) {
  .scroll-btn {
    display: none;
  }
}
/* common styled end */

/* navigation bar section */
.navbar {
  background: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(15px) !important;
  padding: 10px 20px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar-nav .nav-link {
  color: white !important;
  margin-left: 20px;
}
.navbar-nav .active,
.navbar-nav .nav-item a:hover {
  color: #f6cd01 !important;
}
/* navigation bar section end */

/* header-section */
.header-section {
  background-image: url("../images/pirmary-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.header-content {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-section .header-logo {
  width: 150px;
  height: auto;
}
.header-section .header-title {
  font-weight: bolder;
  font-size: 50px;
}
.header-section .header-subtitle {
  font-weight: lighter;
  font-size: larger;
}

/* header-section end*/

/* secondary-pages section */
.secondary {
  background: rgba(91, 77, 214, 0.9);
}
/* secondary-pages section end */

/* blog-page section*/
.blog-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  padding-top: 60px;
}

.blog-post {
  width: 80%;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  margin: 30px 50px;
}
.blog-post-img {
  width: 100%;
  height: inherit;
  transform: translateX(-6rem);
  position: relative;
}
.blog-post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.blog-post-date span {
  display: block;
  color: #9a9a9a;
  font-size: 13px;
  font-weight: 400;
  margin: 5px 0;
}
.blog-post-title {
  font-size: 1.5rem;
  margin: 12px 0;
  font-weight: 600;
}
.blog-post-text {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.blog-post-button {
  display: inline-block;
  background-color: #f6cd01;
  padding: 9px 20px;
  letter-spacing: 1px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  border-radius: 0.8rem;
}
.blog-post-button:hover {
  background-color: #f6de01;
  color: black;
}

@media screen and (max-width: 1068px) {
  .blog-post-img {
    min-width: 250px;
  }
}
@media screen and (max-width: 868px) {
  .blog-post {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 30px;
    padding-bottom: 2rem;
  }
  .blog-post-title {
    font-size: 21px;
    margin: 12px 0;
    font-weight: 700;
  }
  .blog-post-date span {
    transform: translateY(-2rem);
  }
  .blog-post-title {
    transform: translateY(-1rem);
  }
  .blog-post-text {
    transform: translateY(-2rem);
  }
  .blog-post-button {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .blog-section {
    padding: 0;
    padding-top: 60px;
    margin: 0;
  }
  .blog-post-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog-post-date {
    display: none;
  }
  .blog-post-title {
    margin: none;
  }
  .blog-post {
    padding: 15px;
    flex-direction: column;
    border-radius: 0;
  }
  .blog-post-text {
    padding-top: 10px;
    margin-bottom: 0.1rem;
  }

  .blog-post-img {
    width: 80%;
    transform: translate(0, -4rem);
  }
}
/* blog-page section end*/

/* event-page section */
.event-section {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.event_box {
  background-color: #ffffff;
  height: 400px;
  width: 330px;
  margin: 10px;
  margin-bottom: 50px;
  border-radius: 0.8rem;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);

  padding: 0;
  transition: transform 0.7s ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  perspective: 1000px;
}

.event_box:hover {
  transform: rotateY(180deg);
}

.event_face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 0.8rem;
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
}

.event_face--front {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.event_poster {
  width: 320px;
  height: 390px;
  border-radius: 0.8rem;
}
.event_poster img {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}

.event_face--front h2 {
  font-size: 32px;
}

.event_face--back {
  background-color: #f3f3f3a1;
  transform: rotateY(180deg);
}

.event_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event_body {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event_body h3 {
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.event_body p {
  color: #000000;
  font-size: 18px;
  line-height: 1.5rem;
  text-align: center;
}

/* event-page section end */

/* contact-page section */

.contact-section {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-row {
  width: 100%;
}
.contact-form {
  margin: 30px;
  text-align: center;
}
.form-control {
  font-size: 15px;
  margin: 10px 0;
  border-radius: 0.5rem;
}
.form-group textarea {
  width: 100%;
}
.btnContact {
  border-radius: 0.5rem;
  border: none;
  padding: 5px 13px;
  background-color: #f6cd01;
}
.btnContact:hover {
  background-color: #f6de01;
}

.contact-form-section {
  border-right: 1px solid white;
}
.fa-map-marker {
  font-size: 35px;
}
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  color: #ffffff;
}
.mail {
  text-decoration: none;
  margin-top: 15px;
  color: rgba(251, 251, 251, 0.8);
  font-size: 15px;
  cursor: pointer;
}
.mail:hover {
  color: #ffffff;
}
.fa-envelope {
  font-size: 15px;
}

@media (max-width: 600px) {
  .contact-section {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
  }
  .contact-form-section {
    border: none;
    border-bottom: 1px solid white;
  }
  .contact-form {
    margin: 30px 0;
  }
  .location {
    margin: 10px;
  }
}
/* contact-page section end */

/* blog-template section */

.fullblog-section {
  padding: 20px 8rem;
}
.blog {
  margin: 0;
  background-color: rgba(228, 228, 228, 1);
  padding: 3rem;
}

.blog-cover {
  width: 100%;
  height: 30%;
  margin: 0;
  padding: 0;
}
.blog-cover img {
  width: 100%;
  height: 100%;
}
.date {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.blog span {
  font-size: 14px;
  color: #1f1f1f;
}
.blog-heading h1 {
  color: #1f1f1f;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
h4 {
  color: #1f1f1f;
  font-size: 25px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 1.5rem;
  text-align: justify;
}
.blog-inner-image {
  width: 100%;
  padding: 10px;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}

@media (max-width: 750px) {
  .fullblog-section {
    padding: 20px 0;
  }
  .blog {
    padding: 1.5rem;
  }
  .blog-inner-image {
    margin: 0;
    margin-bottom: 1.5rem;
  }
}

/* blog-template section end */

/* footer section */

footer {
  align-self: flex-end;
  bottom: 0;
}
.footer-container {
  background: rgba(0, 0, 0, 0.4) !important;
}
.footer-copyright {
  background: rgba(0, 0, 0, 0.5) !important;
  color: rgba(251, 251, 251, 0.6);
}
.email-subscription-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter-heading {
  justify-content: left;
}
.newsletter-elements .form-outline {
  width: 100%;
}
.newsletter-elements input {
  width: 100%;
}

@media (max-width: 750px) {
  .newsletter-heading {
    justify-content: center;
  }
}

/* footer section end */

/* about-us section */
.about-page-section {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-section {
  color: #ffffff;
  padding: 20px;
  padding-bottom: 30px;
  text-align: center;
  margin: 10px 20%;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.about-title {
  font-size: 25px;
  font-weight: 600;
}

.about-content {
  font-size: 17px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .about-page-section {
    padding-top: 60px;
    height: auto;
  }
  .about-section {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    margin-bottom: 10px;
  }
}
/*about-us section end*/

/* home-page section */

.home-page-subheading {
  padding-top: 60px;
  color: #ffffff;
  text-align: center;
}

/* latest-blog section */
.latest-blog-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.latest-blogs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.latest-blog-box {
  background-color: #ffffff;
  justify-content: space-around;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  height: 400px;
  width: 300px;
  margin: 10px;
  margin-bottom: 50px;
  border-radius: 0.8rem;
}
.home-blog-img-wrapper {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.home-blog-img-wrapper img {
  width: 100%;
}
.home-blog-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 150px;
}
.home-blog-info h4 {
  position: absolute;
  top: 10px;
  text-align: center;
}
.btn-md {
  color: #000000;
  font-size: 15px;
  text-decoration: none;
  border-radius: 0.8rem;
}
.btn-md:hover {
  color: #000000;
}
.read-more {
  background-color: #f6cd01;
  padding: 10px 30px;
  position: absolute;
  bottom: 20px;
}
.read-more:hover {
  background-color: #f6de01;
}

/* latest-blog section end */

/*home event section*/
.home-event-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-event-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-event-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.home-event_box {
  height: 380px;
  width: 330px;
  margin: 20px;
  margin-bottom: 50px;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  padding: 1px 1px;
  cursor: pointer;
}

.home-event_poster {
  width: 100%;
  height: 100%;
}
.home-event_poster img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.view {
  width: 100%;
  height: 50px;
  background-color: #f6cd01;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.view:hover {
  box-shadow: 0px 0px 20px #f6de01;
}
.view a {
  text-decoration: none;
  font-weight: bold;
  width: 330px;
  height: 100%;
  padding: 12px 120px;
}
.home-section-header {
  color: #ffffff;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.home-section-header span {
  font-size: 25px;
  font-weight: bold;
}

/*home event section end*/

/* home-page section end */
